*{
  margin: 0;
  background-color: rgb(218, 233, 247);
}

.formContainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.formWrapper{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.danceBtn{
  height: 3rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0px 2px 12px 7px rgba(0,0,0,0.11);
-webkit-box-shadow: 0px 2px 12px 7px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 2px 12px 7px rgba(0,0,0,0.11); */
}

.danceBtn:active{
  opacity: 0.7;
}